* {
    border: none;
    margin: 0;
    padding: 0;
}

table {
    width: "100%";
    height: "100%";
}

td {
    font-family: arial;
    font-size: small;
    vertical-align: top;
}

td:first-child {
    width: 200px;
}